@{
    ViewBag.Title = "Home Page";
}
<h3>Mis Tareas</h3>
<div class="row">
    <div class="col-md-8">        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Fecha Creacion</th>
                    <th scope="col">Fecha Limite</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><input type="checkbox"></input></th>
                    <td>Ir al supermercado</td>
                    <td>12/06/2018</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <table class="table table-striped">            
            <tbody>
                <tr>
                    <th><p>Usuarios Activos <span class="badge">20</span></p></th>                                      
                </tr>               
                <tr>
                    <th><p>Tareas Atendidas <span class="badge">200</span></p></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
